:root {
  --text: #636363;
  --dark: #353232;
  --light: #fff;
}
.nav
{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
}

.nav .nav--left
{
  margin-left: 20px;
}

.nav .nav--left .collapse
{
  margin-right: 20px;
}

.nav .nav--left .input
{
}

.nav .nav--left .input input
{
  border: none;
  outline: none;
}
.nav .nav--right 
{
  display: flex;
  align-items: center;
}
.nav .nav--right>span
{
  margin: 0px 18px;
}
.nav .nav--right .invite
{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav .nav--right .invite svg
{
  font-size: 13px;
  margin-right: 5px;
}

.nav .nav--right .profile
{
  display: flex;
  align-items: center;
  position: relative;
}

.nav .nav--right .profile .profile--text
{
  height: 40px;
  width: 40px;
  background: purple;
  color: var(--light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav .nav--right .profile .profile--dropDown
{
  position: absolute;
  height: auto;
  width: 206px;
  top: 105%;
  right: 0px;
  background: #fff;
}
.nav .nav--right .profile .profile--dropDown ul
{
  list-style: none;
  margin: 0px;
  padding: 5px 10px;
  box-shadow: 3px 1px 4px 2px rgb(0,0,0,0.08);
  color: var(--text);
}

.nav .nav--right .profile .profile--dropDown ul li
{
  padding: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav--right .profile .profile--dropDown ul li .dot
{
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #1565c0;
}

.nav .nav--right .profile .profile--dropDown ul li:hover
{
  background: #e8eaf6;
}

.nav .nav--right .profile .profile--dropDown ul li.linebreaker
{
  border-bottom: 1px solid #eee;
}

.nav .nav--right .profile .profile--text .profile--text--new
{
  position: absolute;
  top: -4px;
  left: 26%;
  background: #d81b60;
  border-radius: 9px;
  padding: 1px 6px;
  border: 1px solid var(--light);
  font-size: 8px;
}

.nav .nav--right .profile .profile--text  .profile--text--pointer
{
  display: block;
  position: absolute;
  background: #33691e;
  width: 6px;
  height: 6px;
  bottom: 1px;
  right: 3px;
  border-radius: 50%;
  border: 1.8px solid;
}

.nav.dark
{
  background: var(--dark);
  color: var(--light);
}

.nav.dark .nav--left .input {
  background: var(--light);
}

.nav.dark .nav--left .input svg{
  color: black;
}
/*  */

/* Nav Control */
.navControl
{
  padding: 0px;
  list-style: none;
  display: flex;
  margin: 2px 12px;
  box-shadow: 0px 1px 3px 0px rgb(0,0,0,0.08);
}
.navControl>li
{
  padding: 0px 18px;
  padding-bottom: 5px;
  cursor: pointer;
}

.navControl>li.active {
  border-bottom: 2px solid #c62828;
}
/* Nav Control */

/* Details Container */
.sideNavBar a
{
 text-decoration: none;
}
.detailsContainer
{
  display: flex;
  height: calc(100vh - 92px);
}
.detailsContainer .sideNavBar
{
  background: #eee;
  flex: 1 1 20%;
} 

.detailsContainer .sideNavBar .sideNavBar--header
{
  padding: 9px 12px;
  color: var(--text);
  display: flex;
  justify-content: space-between;
} 

.detailsContainer .sideNavBar .sideNavBar--header .sideNavBar--header--icons>svg,
.detailsContainer .sideNavBar .sideNavBar--header .sideNavBar--header--icons>a
{
  padding: 0px 10px;
} 

.detailsContainer .sideNavBar .sideNavBar--header .sideNavBar--header--icons>a
{
  color: #bf360c;
}

.detailsContainer .sideNavBar .sideNavBar--header .sideNavBar--header--icons>svg:first-child
{
  color: #d32f2f;
} 


.detailsContainer .mainContent
{
  flex: 1 1 80%;
}

.detailsContainer .mainContent .mainContent--container
{
  padding: 22px 10%;
}
.mainContent--header--container
{
  width: 100%;
  font-size: 13px;
  color: var(--text);
}
.mainContent--header--container>span:last-child
{
  margin-left: 4%;
}
.mainContent--contentEditor
{
  min-height: calc(100vh - 210px);
}
.detailsContainer .mainContent .mainContent--container .mainContent--header h2
{
  font-weight: 300;
  font-size: 40px;
  margin: 0px;
}

.detailsContainer .mainContent .mainContent--detail
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  font-size: 28px;
  flex-direction: column;
}

.sideNavBar--collections .sideNavBar--collections--mainNode
{
  margin-left: 10px;
}

.sideNavBar--collections .sideNavBar--collections--mainNode .sideNavBar--collections--mainNode--content
{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-left: 13px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}
.sideNavBar--collections .sideNavBar--collections--mainNode .sideNavBar--collections--mainNode--icon
{
  display: none;
}

.sideNavBar--collections--mainNode--content:hover:first-child>.sideNavBar--collections--mainNode--icon
{
  display: block;
}

.sideNavBar--collections .sideNavBar--collections--mainNode .sideNavBar--collections--mainNode--icon>svg,
.sideNavBar--collections .sideNavBar--collections--mainNode .sideNavBar--collections--mainNode--icon>a
{
  padding: 0px 5px;
  color: var(--text);
}

.sideNavBar--collections--subNode
{
  margin-left: 47px;
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
  color: var(--back);
}
.sideNavBar--collections--subNode>span
{
  font-size: 15px;
}

.sideNavBar--collections--mainNode--text
{
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--dark);
}
.sideNavBar--collections--children
{
  display: none;
}
.sideNavBar--collections .sideNavBar--collections--mainNode.expanded>.sideNavBar--collections--mainNode--content>.sideNavBar--collections--mainNode--text>svg
{
  transform: rotate(90deg);
}
.sideNavBar--collections .sideNavBar--collections--mainNode.expanded>.sideNavBar--collections--children
{
  display: block;
}
.sideNavBar--collections--mainNode--text svg
{
  font-size: 10px;
  margin-right: 4px;
}
/* Details Container */

/* Slider Function */
.switch {
  position: relative;
    display: inline-block;
    width: 32px;
    height: 19px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Slider Function */



/* Modal Element */
.modalElement
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #ffff;
  width: 45%;
  min-height: 50px;
  border-radius: 12px;
  box-shadow: 1px 1px 9px 1px rgb(0 0 0 / 8%);
  padding: 17px 24px;
}
.modalElement h2
{
  border-bottom: 1px solid #3e0c0c;
}
.modalElement .closeModal
{
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 24px;
}
.modalElement--saveButton
{
  bottom: 14px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.modalElement--saveButton>button:first-child
{
  margin-left: 10px;
  padding: 8px 22px;
  background: #bf360c;
  border: none;
  border-radius: 14px;
  color: #fff;
}
.modalElement--saveButton>button:last-child
{
      margin-left: 10px;
      padding: 8px 22px;
      background: #3f51b5;
      border: none;
      border-radius: 14px;
      color: #fff;
}
/* Modal Element */


/* Input Utility */
.inputText
{
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  margin-bottom: 10px;
}
.inputText:focus
{
  border-bottom: 1px solid #1565c0;
}
.inputOptions
{
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}
.errorText
{
  color: red;
  font-size: 10px;
}
/* Input Utility */

/* Adding Tool tip */
.tooltip {
  display: inline;
  position: relative;
}
.tooltip:hover:after{
  display: flex;
  justify-content: center;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: attr(title);
  margin: -82px auto 0;
  font-size: 16px;
  padding: 13px;
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip:hover:before{
  border: solid;
  border-color: #444 transparent;
  border-width: 12px 6px 0 6px;
  content: "";
  left: 45%;
  bottom: 30px;
  position: absolute;
}
/* Adding Tool tip */



/* Media Queries */

@media only screen and (max-width: 572px) {
  .nav .nav--left .input
  {
    display: none;
  }
  .nav .nav--right  svg {
    font-size: 19px  !important;
  }
  .nav .nav--right .invite>span
  {
    display: none;
  }
}

/* Media Queries */